h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 35px;
}

.form-group {
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
  justify-content: center;
}

.form-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 0 10px;
}
